
.Header
  background-color #2c4c8b
  height 7em

.MainMenu
  background-color #2c4c8b
  &-Container
    height 100%
  &-list>.MainMenu-ItemsMobile
    display none
  &-list>.MainMenu-ItemsDesktop
    padding-top 1.5em
  &-linkDesktop
    color snow

@media screen and (max-width: 768px)
  .Header
    background red
    height auto
  .Logo
    &-image
      height 100%
    &-link
      padding 0
