/** Estilos inicio de sesión **/

div.MainMenu
  background-color #2C4C8B

ul.nav>li>a
  color #fff

ul.nav>li>a.MainMenu-link
  cursor default

// ul.nav>li>a.MainMenu-link:hover
//   background #fff
//   color #2C4C8B
//   font-weight 700

.nav>li>a.MainMenu-link:focus
  background-color transparent

@media screen and (min-width: 768px)
  ul.nav>li>a
    padding 2.8em 0.8em
  header
    height 99.38px
  div.LogoMajor-container>a.navbar-brand
    max-width 232px
    margin-top -18px

@media screen and (max-width: 767px)
  div.navbar-header
    padding 1em
    header 79px
  div.LogoMajor-container>a.navbar-brand
    max-width 205px
    margin-top -34px
    margin-left -34px
  header
    height 79px



/** Estilos sesión activa **/

div.MainMenuAuth
  background-color #2C4C8B

ul.nav>li>a
  color #fff

ul.nav>li>a:hover
  background transparent

.nav>li>a.MainMenu-linkAuth:focus
  background-color transparent

@media screen and (min-width: 768px)
  ul.nav>li>a
    padding 2.8em 0.8em
  header
    height 99.38px
  div.LogoMajor-container>a.navbar-brand
    max-width 232px
    margin-top -18px

@media screen and (max-width: 767px)
  div.navbar-header
    padding 1em
    header 79px
  div.LogoMajor-container>a.navbar-brand
    max-width 205px
    margin-top -34px
    margin-left -34px
  header
    height 79px

@media screen and (min-width: 768px)
  ul.nav>li.ItemsMobile
    display none

@media screen and (max-width: 767px)
  #Content
    position initial
  span.glyphicon.glyphicon-search
    position initial
