<div class="Major-container">
  <section class="passconfirmForm">

    <form class="passconfirmForm-form"  ng-submit="vm.update()">
      <h1 class="text-center passconfirmForm-title">Restablecer contraseña </h1>

      <md-input-container class="md-block UserCreate-container">
      <label>Nueva Contraseña</label>
      <input pattern=".{5,}" required md-no-asterisk name="pass" type="password" ng-model="vm.password1">
      <div ng-messages="FormRegistroUsuarios.pass.$error">
        <div ng-message="required">Este campo no puede estar vacio.</div>
        <div ng-message="pattern">La Contraseña no puede tener menos de 5 caracteres.</div>
      </div>
      </md-input-container>

      <md-input-container class="md-block UserCreate-container">
      <label>Confirme Contraseña</label>
      <input pattern=".{5,}" required md-no-asterisk name="pass" type="password" ng-model="vm.password2">
      <div ng-messages="FormRegistroUsuarios.pass.$error">
        <div ng-message="required">Este campo no puede estar vacio.</div>
        <div ng-message="pattern">la Contraseña no puede tener menos de 5 caracteres.</div>
      </div>
      </md-input-container>


      <md-button type="submit" class="md-raised md-primary passconfirmButton">Restablecer contraseña</md-button>
    </form>

  </section>
</div>
