.RegisUsersContainer {
  height: 100%;
  background: #2c4c8b;
  margin: 0;
}
.RegisUsersContainer-toolbarMenu {
  background: #2c4c8b;
  height: 100%;
  padding: 3em 0;
}
.RegisUsersContainer-Container {
  background: #fffafa;
  text-align: center;
  padding: 8em 0;
}
.RegisUsersContainer-Form {
  display: inline-block;
  width: 30em;
}
.toolbarMenu-Item {
  padding: 0;
  display: block;
}
.toolbarMenu-Link {
  padding: 0;
  color: #fffafa;
}
@media screen and (max-width: 768px) {
  .RegisUsersContainer-toolbarMenu {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .RegisUsersContainer-Form {
    width: 100%;
  }
}
