
.RegisUsersContainer
  height 100%
  background #2c4c8b
  margin 0
  &-toolbarMenu
    background #2c4c8b
    height 100%
    padding 3em 0
  &-Container
    background snow
    text-align center
    padding 8em 0
  &-Form
    display inline-block
    width 30em

.toolbarMenu
  &-Item
    padding 0
    display block
  &-Link
    padding 0
    color snow

@media screen and (max-width: 768px)
  .RegisUsersContainer
    &-toolbarMenu
      display none
@media screen and (max-width: 500px)
  .RegisUsersContainer
    &-Form
      width: 100%
