.PrestamoCreateContainer {
  height: 100%;
  background: #2c4c8b;
  margin: 0;
}
.PrestamoCreateContainer-toolbarMenu {
  background: #2c4c8b;
  height: 100%;
  padding: 3em 0;
}
.PrestamoCreateContainer-Container {
  background: #fffafa;
  text-align: center;
  padding: 8em 0;
}
.PrestamoCreateContainer-Form {
  display: inline-block;
  width: 30em;
}
.toolbarMenu-Item {
  padding: 0;
  display: block;
}
.toolbarMenu-Link {
  padding: 0;
  color: #fffafa;
}
.SearchIcon {
  display: inline-block;
}
.SearchBook-Autocomplete {
  display: inline-block;
  margin: 0;
}
.CardBook {
  width: 15em;
  display: inline-block;
}
.PrestamoCreate-form {
  text-align: left;
}
@media screen and (max-width: 768px) {
  .PrestamoCreateContainer-toolbarMenu {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .PrestamoCreateContainer-Form {
    width: 100%;
  }
}
