.UsersFunctions-container
  min-height 100vh

ul.Sidenav>li>a.Sidenav-linkAuth:hover
  background #fff
  color #2C4C8B
  font-weight 700

.nav-pills>li.active>a.Sidenav-linkAuth
  color #fff
  background-color #337ab7

ul.Sidenav>li>a.Sidenav-linkAuth:active
  color #fff
  background-color #337ab7

ul.Sidenav>li.active>a.Sidenav-linkAuth:focus
  color #fff
  background-color #337ab7

.nav>li>a.Sidenav-linkAuth:hover, .nav-pills>li>a.Sidenav-linkAuth:focus
  color #fff
  background-color #337ab7

.PrestamoRequest-title, .PrestamoList-title, .Historial-title, .Settings-title
  margin-bottom 1em

.PrestamoList-title, .Historial-title, .Settings-title
  padding-bottom 0.3em
  border-bottom 1px solid
  display inline-block

.SearchInput-container
  display inline-block

.SearchIcon-container
  display inline-block

.RequestedBooks-title
  margin-top 2em

.AddBook
  text-align left
  border-style ridge
  padding 0.7em

.PrestamoRequest-buttonContainer
  text-align right
  margin-top 1em

.SettingsLink-container
  margin-top 0.5em

div.SettingsLink-container>a.btn-info
  background-color #2C4C8B
  color #fff
  width 100%
  border-color #2C4C8B

.PrestamoListTable, .HistorialTable
  padding 3em 0 2em 0
  text-align center
  &-table
    width 100%
    margin 0 0 50px 0
  &-table th
    background #2C4C8B
    color #fafafa
    font-weight bold
    padding 5px
    text-align center
  &-table td
    color #2C4C8B
    border-bottom 1px solid #2C4C8B
    padding 5px
    text-align center
  &-table tr:last-child td
    border-top 1px solid #2C4C8B
  &-table tbody
    border 1px solid #2C4C8B

@media screen and (min-width: 768px)
  div.Sidenav-container
    padding-left 0
    height 100%
    width 16.66666667%
  ul.Sidenav
    background-color #2C4C8B
    height 100%
    width 16.66666667%
    position fixed
    overflow auto
  ul.Sidenav>li>a.Sidenav-linkAuth
    color #fff
    padding 0.6em
  .SearchBook-input
    width 35em
    height 2.5em
  .SettingsContent
    width 35em

@media screen and (max-width: 767px)
  div.Sidenav-container
    display none
  #Content
    padding-bottom 2em
  .SearchIcon-container
    padding-left 0.5em

@media screen and (max-width: 767px) and (min-width: 438px)
  .SearchBook-input
    width 25em
    height 2.2em
  .SettingsContent
    width 27em

@media screen and (max-width: 437px)
  .SearchBook-input
    width 100%
  div.PrestamoRequest-buttonContainer>.md-button.md-primary.md-raised
    font-size 11px
  .SettingsContent
    width 100%

@media screen and (max-width: 392px)
  .PrestamoRequest-title, .PrestamoList-title, .Historial-title, .Settings-title
    font-size 24px
  .RequestedBooks-title
    font-size 19px

@media (max-width: 768px)
  .PrestamoListTable, .HistorialTable
    &-table, &-table thead, &-table tbody, &-table th, &-table td, &-table tr
      display block
    &-table thead tr
      position absolute
      top -9999px
      left -9999px
    &-table tr
      border 1px solid #2C4C8B
    &-table td
      border none
      position relative
    &-table td:before
      position relative
      font-weight bold
    &-table td:nth-of-type(1):before
      content "Ejemplar: "
    &-table td:nth-of-type(2):before
      content "Libro: "
    &-table td:nth-of-type(3):before
      content "Inicio: "
    &-table td:nth-of-type(4):before
      content "Final: "
