.SectionLogin
  background-color black
  text-align center
  min-height 80vh
  padding-top 6em
  padding-bottom 6em
  background-image url("/images/library.jpg")
  background-repeat no-repeat
  background-size cover

.FormLogin
  width 30em
  display inline-block
  background-color #efefed /**snow **/
  /**box-shadow 0.1em 0.1em  #555
  border-radius 0.5em**/
  padding 2em
  opacity 0.8

.FormLogin-tittle
  margin-bottom 1em
  margin-top 0.2em

md-input-container label
  color black

@media screen and (max-width: 450px)
  .FormLogin
    width 100%
  .SectionLogin
    padding-left 0.5em
    padding-right 0.5em

@media screen and (max-width: 335px)
  .FormLogin-tittle
    font-size 32px
