.Major-container
  min-height calc(80vh)

ul.SidenavAdmin>li>a.Sidenav-linkAdminAuth:hover
  background #fff
  color #2C4C8B
  font-weight 700

.nav-pills>li.active>a.Sidenav-linkAdminAuth
  color #fff
  background-color #337ab7

ul.SidenavAdmin>li>a.Sidenav-linkAdminAuth:active
  color #fff
  background-color #337ab7

ul.SidenavAdmin>li.active>a.Sidenav-linkAdminAuth:focus
  color #fff
  background-color #337ab7

.nav>li>a.Sidenav-linkAdminAuth:hover, .nav-pills>li>a.Sidenav-linkAdminAuth:focus
  color #fff
  background-color #337ab7

.RegisUsers-container, .UsersList-container, .ReqListTable-container, .HistorialAdmin-container, .SettingsAdmin-container
  display none

.RegisUsers-title, .UsersList-title, .ReqListTable-title, .HistorialAdmin-title, .SettingsAdmin-title
  margin-bottom 1em

.UsersList-title, .ReqListTable-title, .HistorialAdmin-title, .SettingsAdmin-title
  padding-bottom 0.3em
  border-bottom 1px solid
  display inline-block

.RegisUsers-formContainer
  padding-bottom 2.5em

.RegisUsers-form
  background-color snow
  padding 1em
  border 1px solid #2C4C8B
  border-radius 0.5px

div.RegisUsers-formContainer>form.RegisUsers-form>md-input-container label
  color #2C4C8B

.RegisUsers-buttonContainer
  text-align center
  margin-top 0.5em

.SettingsLinkAdmin-container
  margin-top 0.5em

div.SettingsLinkAdmin-container>a.btn-info
  background-color #2C4C8B
  color #fff
  width 100%
  border-color #2C4C8B

.UsersListTable, .HistorialAdminTable, .PresReqListTable
  padding 3em 0 2em 0
  text-align center
  &-table
    width 100%
    margin 0 0 50px 0
  &-table th
    background #2C4C8B
    color #fafafa
    font-weight bold
    padding 5px
    text-align center
  &-table td
    color #2C4C8B
    border-bottom 1px solid #2C4C8B
    padding 5px
    text-align center
  &-table tr:last-child td
    border-top 1px solid #2C4C8B
  &-table tbody
    border 1px solid #2C4C8B

@media screen and (min-width: 768px)
  div.SidenavAdmin-container
    padding-left 0
    height 100%
    width 16.66666667%
  ul.SidenavAdmin
    background-color #2C4C8B
    height 100%
    width 16.66666667%
    position fixed
    overflow auto
  ul.SidenavAdmin>li>a.Sidenav-linkAdminAuth
    color #fff
    padding 0.6em
  .RegisUsers-form
    width 35em
    display inline-block
  .SearchBook-input
    width 35em
    height 2.5em
  .SettingsAdminContent
    width 35em

@media screen and (max-width: 767px)
  div.SidenavAdmin-container
    display none
  #ContentAdmin
    padding-bottom 2em

@media screen and (max-width: 767px) and (min-width: 438px)
  .RegisUsers-form
    width 28em
    display inline-block
  .SearchBook-input
    width 25em
    height 2.2em
  .SettingsAdminContent
    width 27em

@media screen and (max-width: 437px)
  .RegisUsers-formContainer
    padding 0.3em
  .RegisUsers-form
    width 100%
  .SearchBook-input
    width 100%
  .SettingsAdminContent
    width 100%

@media screen and (max-width: 392px)
  .RegisUsers-title, .UsersList-title, .ReqListTable-title, .HistorialAdmin-title, .SettingsAdmin-title
    font-size 24px
  div.RegisUsers-formContainer>form.RegisUsers-form>md-input-container label
    font-size 11px
  div.RegisUsers-buttonContainer>.md-button.md-primary.md-raised
    font-size 11px
  .RequestedBooks-title
    font-size 19px

@media (max-width: 768px)
  .UsersListTable
    &-table, &-table thead, &-table tbody, &-table th, &-table td, &-table tr
      display block
    &-table thead tr
      position absolute
      top -9999px
      left -9999px
    &-table tr
      border 1px solid #2C4C8B
    &-table td
      border none
      position relative
    &-table td:before
      position relative
      font-weight bold
    &-table td:nth-of-type(1):before
      content "Nombre: "
    &-table td:nth-of-type(2):before
      content "Apellido: "
    &-table td:nth-of-type(3):before
      content "Email: "
    &-table td:nth-of-type(4):before
      content "Carrera: "
    &-table td:nth-of-type(5):before
      content "Dirección: "
    &-table td:nth-of-type(6):before
      content "Teléfono: "

@media (max-width: 768px)
  .PresReqListTable
    &-table, &-table thead, &-table tbody, &-table th, &-table td, &-table tr
      display block
    &-table thead tr
      position absolute
      top -9999px
      left -9999px
    &-table tr
      border 1px solid #2C4C8B
    &-table td
      border none
      position relative
    &-table td:before
      position relative
      font-weight bold
    &-table td:nth-of-type(1):before
      content "Solicitante: "
    &-table td:nth-of-type(2):before
      content "Ejemplar: "
    &-table td:nth-of-type(3):before
      content "Libro: "
    &-table td:nth-of-type(4):before
      content "Inicio: "
    &-table td:nth-of-type(5):before
      content "Final: "

@media (max-width: 768px)
  .HistorialAdminTable
    &-table, &-table thead, &-table tbody, &-table th, &-table td, &-table tr
      display block
    &-table thead tr
      position absolute
      top -9999px
      left -9999px
    &-table tr
      border 1px solid #2C4C8B
    &-table td
      border none
      position relative
    &-table td:before
      position relative
      font-weight bold
    &-table td:nth-of-type(1):before
      content "Ejemplar: "
    &-table td:nth-of-type(2):before
      content "Libro: "
    &-table td:nth-of-type(3):before
      content "Inicio: "
    &-table td:nth-of-type(4):before
      content "Final: "
